Automatic silent refresh can lead to a refresh request flood if refresh endpoint returns no new id_token

**Describe the bug**
Using the offline_access scope with an oidc compliant IdP and response mode `code` with PKCE, the initial auth request results in an `id_token`, an `access_token` and a `refresh_token`. The application sets up silent refresh using `setupAutomaticSilentRefresh()`. As soon as a token is about to expire (depending on the `timeoutFactor`), a silent refresh is triggered. If the IdP answers this request with a new access_token, but no new id_token, this leads to a new refresh request each second (since the id_token was not refreshed). With a lot of users of a web application this can lead to a huge load on the IdP. Not refreshing the id_token is perfectly valid according to [RFC6749 Section 6](https://datatracker.ietf.org/doc/html/rfc6749#section-6) and [OIDC Section 12.2](https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse).

**Expected behavior**
If no new id_token is received during a token refresh but the `listenTo` parameter of `setupAutomaticSilentRefresh` is set to `any`, an `token_refresh_error` should be emitted (to make the developer aware of this) or alternatively at least an exponential backoff should be applied.

**Workaround**
Set the `listenTo` parameter of `setupAutomaticSilentRefresh` to `access_token`, however, this is not really documented, not intuitive, and can easily be overlooked.

Thanks for pointing this out. The best way to fix this in short term is to call refreshToken by yourself. Then you are full in control over it.