Send the client_id and client_secret using HTTP Basic authentication

Currently, when calling the token endpoint, `client_id` and `client_secret` can **only** be sent in the request body. However, this is optional in [RFC6749 Section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1). It says the following:

> The authorization server **MUST** support the HTTP Basic authentication scheme for authenticating clients that were issued a client password.

> Alternatively, the authorization server **MAY** support including the client credentials in the request-body 

> Including the client credentials in the request-body using the two parameters is **NOT RECOMMENDED** and **SHOULD** be limited to clients unable to directly utilize the HTTP Basic authentication scheme (or other password-based HTTP authentication schemes).

As it stands, this library is using the NOT RECOMMENDED way, and it will fail for some servers that implement the RFC strictly. We're using a custom OAuth2 authorization server like that. It only supports HTTP Basic authentication and not the request body parameters. So this library is unable to call it.

I think the default should be HTTP Basic authentication, but having it as an option would also be acceptable.

Thank you for bringing this to our attention.  I've classified this as an enhancement for the time being.  Please check back here for any updates as to when we might get this implemented.

The next version will contain a config flag useHttpBasicAuthForPasswordFlow, you can set to true.