Documentation for AuthConfig.useHttpBasicAuth is wrong/incomplete

**Current behavior**
The documentation for _AuthConfig.useHttpBasicAuth_ describes: "Set this to true to use HTTP BASIC auth for **password flow**"

**Expected behavior**
The documentation should make clear that setting _AuthConfig.useHttpBasicAuth_ to '_true_' enables BASIC auth for the **authorization code grant flow** as well.

Additionally, the question is why _AuthConfig.useHttpBasicAuth_ is not set to '_true_' by default to reflect the [section 2.3.1 of RFC 6749](https://tools.ietf.org/html/rfc6749#section-2.3.1): "The authorization server MUST support the HTTP Basic authentication scheme for authenticating clients that were issued a client password.
...Alternatively, the authorization server MAY support including the client credentials in the request-body"  --> The library implements this exactly in the opposite way.

Thx for pointing that out! I didn't know that it was also used for other flows, if it's there for Code flow it might be there for Implicit too? Do you happen to have a link to the point in code where it happens?

Either way, given that it does, updating the docs seems like a good plan!

To your second remark, it is about the auth _server_, not the client where you'd use this library. Under most circumstances, a client "secret" sent along with basic auth from a SPA created with this library makes no sense, as a browser application can not keep any such secret. So it makes sense to me that this feature is not enabled by default, right?

Thanks for pointing this out. I just corrected this in the docs.

